body {

    background-color: rgba(78, 78, 248, 0.926);
    background-image: url(marina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 20px;
}

.spacer {

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(52, 52, 54);
}

.colol {
  
    background-color:rgb(0, 0 ,0 , 0.5)
    padding= 30px;
    border: 10px;

    line-height: 1.5 ;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.tolol {

font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}

.rajasaab {
    color: aqua;
    text-align: center;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.box {

    flex:  0 1 calc(33.333% - 20px);
    border: 2px solid #ccc;
    padding: 10px;
text-align: center;
background-color: rgb(0, 0 ,0 , 0.3);
box-sizing: border-box;

}

.box img {

width: 100%;
height: 200px;

object-fit: cover;
display: block;

}

a {

    text-decoration: none;
    color: aliceblue;
    text-align: center;
}

.flipcard-post.is-flipped {
  transform: rotateY(180deg);
}

.tap {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  font-size: 12px;
}
